/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background-image: url('../../images/gray_sketch.jpg');
  background-size: cover;
  text-shadow: 0 0 5px white;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
.nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  float:right;
}
.navButton {
  text-decoration: none;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color:black;
}
.navButton:hover {
  text-decoration: underline;
}
.main {
  height: 100vh;
}
.contentBox {
  display:flex;
  flex-direction:column;
  align-items: center;
}
.titleAnimations {
  font-size: 60px;
}
